           @font-face {
               font-family: "bvrocrb";
               font-style: normal;
               font-weight: normal;
               src: url(${police_absolute_path('ocrbb.ttf')}) format("truetype");
           }

           #ocrbb{
             position:absolute;
             left:${str(company.bvr_scan_line_horz or '0.0').replace(',','.')}mm;
             top:${str(company.bvr_scan_line_vert or '0.0').replace(',','.')}mm;
             font-family:bvrocrb;
             font-size:${str(company.bvr_scan_line_font_size or '0.0').replace(',','.')}pt;
             text-align:left;
             width: 119mm;
           }

           .digitref {
             position:absolute;
             top:7px;
             text-align:center;
             float:left;
             width:9px;
           }

           .slip_address_b {
            position:absolute;
            top:${str(215 + (company.bvr_delta_vert or 0.0)).replace(',','.')}mm;
            left:${str(5 + (company.bvr_delta_horz or 0.0)).replace(',','.')}mm;

           }

         .dest_address_bvr {
           position:absolute;
           top:${str(company.bvr_add_vert or '0.0').replace(',','.')}mm;
           left:${str(company.bvr_add_horz or '0.0').replace(',','.')}mm;
           font-size:12;
           text-align:left;
          }

         .slip_bank_acc {
           font-family:Helvetica;
           font-size:8pt;
           border-width:0px;
           padding-left:0mm;
           padding-top:0mm;
           position:absolute;
           top:${str(194 + (company.bvr_delta_vert or 0.0)).replace(',','.')}mm;
           left:${str(30 + (company.bvr_delta_horz or 0.0)).replace(',','.')}mm;
          }

         .slip_bank_add_acc {
           font-family:Helvetica;
           font-size:8pt;
           border-width:0px;
           padding-left:0mm;
           padding-top:0mm;
           position:absolute;
           top:${str(160 + (company.bvr_delta_vert or 0.0)).replace(',','.')}mm;
           left:${str(5 + (company.bvr_delta_horz or 0.0)).replace(',','.')}mm;
          }

          .slip_comp {
              font-family:Helvetica;
              font-size:8pt;
              border-width:0px;
              padding-left:0mm;
              padding-top:0mm;
              position:absolute;
              top:${str(175+ (company.bvr_delta_vert or 0.0)).replace(',','.')}mm;
              left:${str(5 + (company.bvr_delta_horz or 0.0)).replace(',','.')}mm;
           }

           .slip_add {
             font-family:Helvetica;
             font-size:8pt;
             border-width:0px;
             padding-left:0mm;
             padding-top:0mm
           }

           .slip_amount {
             width:5cm;
             text-align:right;
             font-size:11pt;
             font-family:Helvetica;
             position:absolute;
             top:${str(203 + (company.bvr_delta_vert or 0.0)).replace(',','.')}mm;
             left:${str(7 + (company.bvr_delta_horz or 0.0)).replace(',','.')}mm;
           }

           /*
            Slip 2 element
           */

           .slip2_address_b {
             position:absolute;
             top:${str(200 + (company.bvr_delta_vert or 0.0)).replace(',','.')}mm;
             left:${str(130 + (company.bvr_delta_horz or 0.0)).replace(',','.')}mm;
           }


         .slip2_bank_acc {
           font-family:Helvetica;
           font-size:8pt;
           border-width:0px;
           padding-left:0mm;
           padding-top:0mm;
           position:absolute;
           top:${str(194 + (company.bvr_delta_vert or 0.0)).replace(',','.')}mm;
           left:${str(90 + (company.bvr_delta_horz or 0.0)).replace(',','.')}mm;
          }



         .slip2_bank_add_acc {
           font-family:Helvetica;
           font-size:8pt;
           border-width:0px;
           padding-left:0mm;
           padding-top:0mm;
           position:absolute;
           top:${str(160 + (company.bvr_delta_vert or 0.0)).replace(',','.')}mm;
           left:${str(65 + (company.bvr_delta_horz or 0.0)).replace(',','.')}mm;
          }


         .slip2_ref {
              text-align:right;
              font-size:11pt;
              font-family:Helvetica;
              position:absolute;
              top:${str(185 + (company.bvr_delta_vert or 0.0)).replace(',','.')}mm;
              left:${str(130 + (company.bvr_delta_horz or 0.0)).replace(',','.')}mm;
           }

           .slip2_comp {
             font-family:Helvetica;
             font-size:8pt;
             border-width:0px;
             padding-left:0mm;
             padding-top:0mm;
             position:absolute;
             top:${str(175+ (company.bvr_delta_vert or 0.0)).replace(',','.')}mm;
             left:${str(65 + (company.bvr_delta_horz or 0.0)).replace(',','.')}mm;
           }

           .bvr_background {
               width:210mm;
               height:106mm;
               border:0;
               margin:0;
               position:absolute;
               z-index:-10;
               top:${str(151.2+ (company.bvr_delta_vert or 0.0)).replace(',','.')}mm;
               left:${str(0 + (company.bvr_delta_horz or 0.0)).replace(',','.')}mm;
           }

           .slip2_amount {
             width:5cm;
             text-align:right;
             font-size:11pt;
             font-family:Helvetica;
             position:absolute;
             top:${str(203 + (company.bvr_delta_vert or 0.0)).replace(',','.')}mm;
             left:${str(67 + (company.bvr_delta_horz or 0.0)).replace(',','.')}mm;
           }
